header {
    height: 70px;
    text-align: center;
    background-color: cadetblue;
}
header nav ul li {

    padding: 20px;
}
header nav ul li a {
    margin: 30px;
    text-decoration: none;
    color: whitesmoke;
    font-size: x-large;
}
main ul li a {

text-decoration: none;
color: cadetblue;
font-size: large;

}
main img{

  height: 60px; 
  width: 70px; ;
}
footer {

    background-color: cadetblue;
}
header nav ul li a { 

    font-family: fantasy;
    color: whitesmoke;
}
body main ul {
font-family: cursive ;
color: cadetblue;
}
footer ul {

    color: whitesmoke;
}
footer ul li a {

    text-decoration: none;
    color: whitesmoke;
};

#cont table {

    background-color: darkred;
}


